@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

.fc {
  @apply p-4;
}

.fc-header-toolbar {
  @apply mb-4;
}

.fc-event {
  @apply cursor-pointer;
}

.fc-daygrid-event {
  @apply p-1;
}